

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Titan One', cursive;
    background:#363636;;
}

div.container-fluid#first-c {
    background: #272727;
    position: fixed;
    z-index: 100; 
    margin-top: -5%;
}

a.s-anchor {
    display: block; 
    background: #363636;
    padding-top: 1%; 
    margin-top: 5%;
}

a.anchor {
    display: block; 
    background: #363636;
    padding-top: 1%;   
}

ul.navbar {
    text-decoration: none;
}

li.navbar > a {
    color: #d6d6d6;
    text-decoration: none;
}

li.navbar:hover > a {
    color: #d6d6d6;
    text-decoration: none;
    border-top: 2px solid #228E5D ;
    border-bottom: 2px solid #228E5D ;
    transition: 0.5s;
}

a.des-pub {
    text-decoration: none;
    color: #d6d6d6;
}

h1.our-product {
    color: #d6d6d6;
    text-align: center;
    padding: 3%;
}

div.card {
    color: #d6d6d6;
    background:#272727;
    border: none;
    margin-bottom: 20%;
}

h5.card-title {
    margin-top: 5%;
    margin-bottom: 10%;
}

button.btn {
    margin-top: 7%;
    background: #228E5D;
    color: #d6d6d6;
    padding: 3% 9% 3%;
    transition: 0.5s;
}


button.btn:hover {
    padding: 4% 20% 4%;
    color: #d6d6d6;
    transition: 0.5s;
}

button.btn > a {
    text-decoration: none;
    color: #d6d6d6;
}

div#products {
    color: #d6d6d6;
    margin-top: 5%; 
    margin-bottom: 0px;
    background:#272727;
}

h1.our-product {
    margin-bottom: 0px;
    padding: 5%;
}
h5.green-name {
    color: #228E5D;
}



                                   

